@use "sass:list";

@mixin menu-items-display-settings($dis: initial, $pos: initial, $width: initial, $height: initial) {
    display: $dis;
    position: $pos;
    width: $width;
    height: $height;
}
@mixin flex-item-settings($first-clr: initial, $second-clr: initial, $padding: 30px) {
    margin-top: 30px;
    border-radius: 8px;
    padding: $padding;
    background: radial-gradient($first-clr, $second-clr);
}
@mixin max-settings($max-width) {
    max-width: $max-width;
    margin-inline: auto;
}
@function add-stars($num-of-stars){
    $content: null;
    @for $num from 1 through $num-of-stars{
        $content: $content + url(Images/star.png);
    }
    @return $content;
}

* {
    box-sizing: border-box;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

html {
    font-size: 15px;
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;
}

i{
    font-style: italic; 
}

b {
    font-weight: 600;
}

.navigation {
    @include max-settings(1250px);
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItems {
    @include menu-items-display-settings(none, absolute, 90vw, 100vw);
    right: 0;
    top: 0;
    background-color: #fff;
}

.menuItem {
    text-align: right;
    padding: 15px;

    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: #029447;
        }
    }
}

.closeBtn img:hover{
    cursor: pointer;
}

#phoneNum {
    background-color: #4199D4;
    padding: inherit;
    border-radius: 5px;
    color: #fff;

    &:hover {
        background-color: #029447;
    }
}

.menuIcon {
    div {
        width: 15px;
        height: 2px;
        margin-block: 3px;
        background-color: #ff6b6d;
    }

    &:hover {
        cursor: pointer;
    }
}

.mainContent {
    padding: 64px 24px;
}

h2 {
    font-size: 2rem;
    text-align: center;

    span {
        display: block;
        margin-top: 30px;
        @include max-settings(450px);
        font-size: 1rem;
    }
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#services h2 {
    @include max-settings(700px);
    border-radius: 20px;
    padding-block: 20px;
    background-image: url(Images/Services/servicesHeadingBackground.png);
    background-size: cover;
    color: white;
}

$service-clrs: (
    (#ffffff, #1B9447), 
    (#ffffff, #2BBEC0), 
    (#ffffff, #2564B0));
$first-clr: null;
$second-clr: null;

@for $i from 1 through 3{
    $first-clr: list.nth(list.nth($service-clrs, $i), 1);
    $second-clr: list.nth(list.nth($service-clrs, $i), 2);
    #services .flexItem:nth-of-type(#{$i}) {
        @include flex-item-settings($first-clr, $second-clr);
    }
    #testimonials .flexItem:nth-of-type(#{$i}) {
        @include flex-item-settings(#ffcaca, #ffcaca);
    }
}

.service{
    list-style-type: disc;
    list-style-position: inside;
}

#about {
    background-color: #f4ebea;

    p {
        @include max-settings(500px);
        margin-top: 30px;
    }

    a {
        display: inline-block;
        width: 100%;
        @include flex-item-settings(#ff6b6d, #ff6b6d, 15px);
        text-align: center;
        text-decoration: none;
        color: white;
    }
}

.feedback:before {
    content: add-stars(5);
    display: block;
    margin-bottom: 10px;
}

@media (min-width: 525px) and (max-width: 950px) {
    .navigation {
        padding-inline: 40px;
    }
}

@media (min-width: 950px) {
    .logo img {
        width: 200px;
    }

    .menuItems {
        @include menu-items-display-settings();

        ul {
            display: flex;
        }

        .closeBtn {
            display: none;
        }
    }

    .menuIcon {
        display: none;
    }

    .flexContainer {        
        display: flex;
        justify-content: space-between;
    }

    #services .flexContainer {
        @include max-settings(1250px);
    }

    #testimonials .flexContainer {
        @include max-settings(1100px);
    }

    .flexItem {
        width: 31%;
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.80;
    background: #aaa;
}

/* Footer */
footer {
    padding-block: 15px;
    background-color: #141E30;
    text-align: center;
    color: white;
    line-height: 20px;
}

footer a {
    color: #ffc700;
    text-decoration: none;
}
