* {
  box-sizing: border-box;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

html {
  font-size: 15px;
  font-family: "PT Serif", serif;
  scroll-behavior: smooth;
}

i {
  font-style: italic;
}

b {
  font-weight: 600;
}

.navigation {
  max-width: 1250px;
  margin-inline: auto;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItems {
  display: none;
  position: absolute;
  width: 90vw;
  height: 100vw;
  right: 0;
  top: 0;
  background-color: #fff;
}

.menuItem {
  text-align: right;
  padding: 15px;
}
.menuItem a {
  text-decoration: none;
  color: #000;
}
.menuItem a:hover {
  color: #029447;
}

.closeBtn img:hover {
  cursor: pointer;
}

#phoneNum {
  background-color: #4199D4;
  padding: inherit;
  border-radius: 5px;
  color: #fff;
}
#phoneNum:hover {
  background-color: #029447;
}

.menuIcon div {
  width: 15px;
  height: 2px;
  margin-block: 3px;
  background-color: #ff6b6d;
}
.menuIcon:hover {
  cursor: pointer;
}

.mainContent {
  padding: 64px 24px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}
h2 span {
  display: block;
  margin-top: 30px;
  max-width: 450px;
  margin-inline: auto;
  font-size: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

#services h2 {
  max-width: 700px;
  margin-inline: auto;
  border-radius: 20px;
  padding-block: 20px;
  background-image: url(Images/Services/servicesHeadingBackground.png);
  background-size: cover;
  color: white;
}

#services .flexItem:nth-of-type(1) {
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px;
  background: radial-gradient(#ffffff, #1B9447);
}

#testimonials .flexItem:nth-of-type(1) {
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px;
  background: radial-gradient(#ffcaca, #ffcaca);
}

#services .flexItem:nth-of-type(2) {
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px;
  background: radial-gradient(#ffffff, #2BBEC0);
}

#testimonials .flexItem:nth-of-type(2) {
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px;
  background: radial-gradient(#ffcaca, #ffcaca);
}

#services .flexItem:nth-of-type(3) {
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px;
  background: radial-gradient(#ffffff, #2564B0);
}

#testimonials .flexItem:nth-of-type(3) {
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px;
  background: radial-gradient(#ffcaca, #ffcaca);
}

.service {
  list-style-type: disc;
  list-style-position: inside;
}

#about {
  background-color: #f4ebea;
}
#about p {
  max-width: 500px;
  margin-inline: auto;
  margin-top: 30px;
}
#about a {
  display: inline-block;
  width: 100%;
  margin: 30px auto 0;
  border-radius: 8px;
  padding: 15px;
  background-color: #ff6b6d;
  text-align: center;
  text-decoration: none;
  color: white;
}

.feedback:before {
  content: url(Images/star.png)url(Images/star.png)url(Images/star.png)url(Images/star.png)url(Images/star.png);
  display: block;
  margin-bottom: 10px;
}

.contact {
  padding-block: 50px;
}

.contact:nth-of-type(1) {
  background: linear-gradient(#2387C9, #029447);
}
.contact:nth-of-type(1) p {
  color: white;
  text-align: center;
}
.contact:nth-of-type(1) a:nth-of-type(1) {
  display: block;
  width: max-content;
  margin: 30px auto 0;
  border-radius: 50%;
  padding: 15px 18px;
  background-color: #ff6b6d;
  text-align: center;
  text-decoration: none;
  color: white;
}
.contact:nth-of-type(1) a:nth-of-type(2) {
  display: inline-block;
  width: initial;
  margin: 30px auto 0;
  border-radius: initial;
  padding: initial;
  background-color: initial;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
.footerFlexContainer {
  background-color: #0c2e30;
  color: #029447;
  line-height: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
}
.footerFlexContainer h3 {
  margin-top: 30px;
  font-weight: initial;
  color: #4199d4;
}
.footerFlexContainer img {
  display: block;
  margin: auto;
}

#copyright {
  padding-block: 15px;
  text-align: center;
}
#copyright a {
  text-decoration: none;
  color: #ffc700;
}

@media (min-width: 525px) and (max-width: 950px) {
  .navigation {
    padding-inline: 40px;
  }
}
@media (min-width: 600px) {
  .footerFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footerFlexItem {
    width: 49%;
  }
  .footerFlexItem img:nth-of-type(2) {
    width: 100%;
    max-width: 262px;
  }
}
@media (min-width: 950px) {
  .logo img {
    width: 200px;
  }
  .menuItems {
    display: initial;
    position: initial;
    width: initial;
    height: initial;
  }
  .menuItems ul {
    display: flex;
  }
  .menuItems .closeBtn {
    display: none;
  }
  .menuIcon {
    display: none;
  }
  .flexContainer {
    display: flex;
    justify-content: space-between;
  }
  #services .flexContainer {
    max-width: 1250px;
    margin-inline: auto;
  }
  #testimonials .flexContainer {
    max-width: 1100px;
    margin-inline: auto;
  }
  .flexItem {
    width: 31%;
  }
  .contact:nth-of-type(2) {
    padding-inline: 10%;
  }
  .footerFlexItem {
    width: 24%;
  }
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  background: #aaa;
}

/*# sourceMappingURL=index.css.map */
