@use "sass:list";

@mixin menu-items-display-settings($dis: initial, $pos: initial, $width: initial, $height: initial) {
    display: $dis;
    position: $pos;
    width: $width;
    height: $height;
}
@mixin flex-item-settings($first-clr: initial, $second-clr: initial, $padding: 30px, $radius: 8px) {
    margin-top: 30px;
    border-radius: $radius;
    padding: $padding;
    background: radial-gradient($first-clr, $second-clr);
}
@mixin max-settings($max-width) {
    max-width: $max-width;
    margin-inline: auto;
}
@mixin anchor-style($display: initial, $width: initial, $radius: initial, $padding: initial, $clr: initial) {
    display: $display;
    width: $width;
    margin: 30px auto 0;
    border-radius: $radius;
    padding: $padding;
    background-color: $clr;
    text-align: center;
    text-decoration: none;
    color: white;
}
@mixin paragraph-style($padding, $bkclr){
    padding: $padding;
    background-color: $bkclr;
    text-align: center;
    color: white;
}
@function add-stars($num-of-stars){
    $content: null;
    @for $num from 1 through $num-of-stars{
        $content: $content + url(Images/star.png);
    }
    @return $content;
}

* {
    box-sizing: border-box;
    line-height: 1.7rem;
}

html {
    font-size: 15px;
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;
}

i{
    font-style: italic; 
}

b {
    font-weight: 600;
}

.navigation {
    @include max-settings(1250px);
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItems {
    @include menu-items-display-settings(none, absolute, 90vw, 100vw);
    right: 0;
    top: 0;
    background-color: #fff;
}

.menuItem {
    text-align: right;
    padding: 15px;

    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: #029447;
        }
    }
}

.closeBtn img:hover{
    cursor: pointer;
}

#phoneNum {
    background-color: #4199D4;
    padding: inherit;
    border-radius: 5px;
    color: #fff;

    &:hover {
        background-color: #029447;
    }
}

.menuIcon {
    div {
        width: 15px;
        height: 2px;
        margin-block: 3px;
        background-color: #ff6b6d;
    }

    &:hover {
        cursor: pointer;
    }
}

.mainContent {
    padding: 64px 24px;
}

#welcome {
    height: 420px;
    padding-inline: 24px;
    background-image: url(Images/Welcome/welcome1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;

    p {
        @include max-settings(450px);
        @include paragraph-style(15px, rgba(0, 0, 0, 0.5));
        font-size: 2rem;
        line-height: 2.2rem;

        span {
            font-size: 1rem;
            font-style: italic;
            line-height: 1rem;
        }

        a {
            text-decoration: none;
            color: #0ff;
            font-size: 1.5rem;
        }
    }
}

h2 {
    font-size: 2rem;
    text-align: center;

    span {
        display: block;
        margin-top: 30px;
        @include max-settings(450px);
        font-size: 1rem;
    }
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#services h2 {
    @include max-settings(700px);
    border-radius: 20px;
    padding-block: 20px;
    background-image: url(Images/Services/servicesHeadingBackground.png);
    background-size: cover;
    color: white;
}

$service-clrs: (
    (#ffffff, #1B9447), 
    (#ffffff, #2BBEC0), 
    (#ffffff, #2564B0));
$first-clr: null;
$second-clr: null;

@for $i from 1 through 3{
    $first-clr: list.nth(list.nth($service-clrs, $i), 1);
    $second-clr: list.nth(list.nth($service-clrs, $i), 2);
    #services .flexItem:nth-of-type(#{$i}) {
        @include flex-item-settings($first-clr, $second-clr);
    }
    #testimonials .flexItem:nth-of-type(#{$i}) {
        @include flex-item-settings(#ffcaca, #ffcaca);
    }
}

.service{
    list-style-type: disc;
    list-style-position: inside;
}

#images {
    padding: 0 24px 64px;

    .flexItem {
        height: 370px;
        background-size: cover;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: end;
        color: white;
    }

    p {
        width: 80%;
        @include paragraph-style(10px 0, #000);
    }
}

#about {
    background-color: #f4ebea;

    p {
        @include max-settings(500px);
        margin-top: 30px;
    }

    a {
        @include anchor-style( $display: inline-block, $width: 100%, $radius: 8px, $padding: 15px, $clr: #ff6b6d);
    }
}

.feedback:before {
    content: add-stars(5);
    display: block;
    margin-bottom: 10px;
}

.contact {
    padding-block: 50px;
}

.contact:nth-of-type(1) {
    background: linear-gradient(#2387C9, #029447);

    p {
        color: white;
        text-align: center;
    }

    a:nth-of-type(1) {
        @include anchor-style( $display: block, $width: max-content, $radius: 50%, $padding: 15px 18px, $clr: #ff6b6d);
    }

    a:nth-of-type(2) {
        @include anchor-style($display: inline-block);
        font-size: 2rem;
    }
}

iframe {
    width: 100%;
    height: 350px;
}

/* Footer */
.footerFlexContainer {
    background-color: #0c2e30;
    color: #029447;
    line-height: 1.7rem;
    letter-spacing: 1px;
    text-align: center;

    h3 {
        margin-top: 30px;
        font-weight: initial;
        color: #4199d4;
    }

    img {
        display: block;
        margin: auto;
    }    
}

#copyright {
    padding-block: 15px;
    text-align: center;

    a {
        text-decoration: none;
        color: #ffc700;
    }
}

@media (min-width: 525px) and (max-width: 950px) {
    .navigation {
        padding-inline: 40px;
    }
}

@media(min-width: 600px){
    .footerFlexContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footerFlexItem {
        width: 49%;

        img:nth-of-type(2) {
            width: 100%;
            max-width: 262px;
        }
    }     
}

@media (min-width: 950px) {
    .logo img {
        width: 200px;
    }

    .menuItems {
        @include menu-items-display-settings();

        ul {
            display: flex;
        }

        .closeBtn {
            display: none;
        }
    }

    .menuIcon {
        display: none;
    }

    #welcome {
        height: 92vh;
        justify-content: right;

        p {
            margin-inline: initial;
            font-size: 3rem;
            line-height: 3rem;
            a{
                font-size: 2rem;
            }
        }
    }

    .flexContainer {        
        display: flex;
        justify-content: space-between;
    }

    #services .flexContainer, #images .flexContainer {
        @include max-settings(1250px);
    }

    #testimonials .flexContainer {
        @include max-settings(1100px);
    }

    .flexItem {
        width: 31%;
    }

    #images .flexItem{
        width: 100%;
        height: 330px;
    }

    .contact:nth-of-type(2){
        padding-inline: 10%;
    }

    .footerFlexItem {
        width: 24%;
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.80;
    background: #aaa;
}